.footer {
    position: fixed;
    display: flex;
    align-items: flex-end;
    bottom: -5px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 120px;
    font-size: .4rem;
    z-index: 10;
  }

  .footer-content p{
    font-size: 1rem;
    color: var(--h1-color)
  }
  
  .footer-light {
    background: transparent;
  }

  .yellow-flower {
    position: absolute;
    left: 20%;
    bottom: 50px;
    width: 75px;
    height: 75px;
    background-image: url('/footer/yellowflower.png');
    background-size: 100% 100%;
    background-position: bottom;
    z-index: 1;
  }

  .blue-flower {
    position: absolute;
    left: 80%;
    bottom: 60px;
    width: 75px;
    height: 75px;
    background-image: url('/footer/blueflower.png');
    background-size: 100% 100%;
    background-position: bottom;
    z-index: 1;
  }
  
  .footer-grass {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/footer/grass.png');
    background-size: 50% 160%;
    background-position:bottom;
    z-index: 2;
    opacity: 1;
  }

  @keyframes waveAnimation {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(5) rotate(1deg); }
    50% { transform: translateX(-5px) rotate(-1deg); }
    75% { transform: translateX(5px) rotate(1deg); }
    100% { transform: translateX(0) rotate(0deg); }
  }  

  @keyframes waveAnimation2 {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-5) rotate(-1deg); }
    50% { transform: translateX(5px) rotate(1deg); }
    75% { transform: translateX(-5px) rotate(-1deg); }
    100% { transform: translateX(0) rotate(0deg); }
  }  

  .wave {
    animation: waveAnimation 3s ease-in-out;
  }

  .wave2 {
    animation: waveAnimation2 3s ease-in-out;
  }

  .footer-dark {
    background: transparent;
  }
  
  .footer-city {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/footer/cityskyline.png');
    background-repeat: repeat-x;
    background-size: 50% 150%;
    background-position: bottom;
  }

  .footer-twinkles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
  }

  .twinkle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    animation: twinkleAnimation 2s ease-in-out;
  }
  
  @keyframes twinkleAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  @media(max-width: 768px) {
    .footer-city,
    .footer-grass,
    .footer-flowers {
        width: 250%;
    }

    .footer-content{
      padding: 5px 10px;
    }

    .footer-content p{
      font-size: .8rem;
    }
  }
  