/* General Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Resume Container */
.resume-container, .print-version {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.resume-header, .print-resume-header {
    text-align: center;
    margin-bottom: 40px;
}

.resume-header h1, .print-resume-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 5px;
    color: #333;
}

.resume-header h3, .print-resume-header h3 {
    font-size: 1.5rem;
    color: #777;
}

.resume-header p, .print-resume-header p {
    font-size: 1rem;
    color: #555;
}

/* Columns Container */
.resume-columns, .print-resume-columns {
    display: flex;
    gap: 40px;
}

/* Columns */
.left-column, .right-column, .print-left-column, .print-right-column {
    flex: 1;
    padding: 20px;
}

/* Section Styling */
.resume-section, .print-resume-section {
    padding: 0;
    margin: 0 0 30px 0;
    text-align: left;
    min-height: fit-content;
}

.resume-summary, .print-resume-summary {
    margin: 50px auto 25px;
    width: 50%;
    font-style: italic;
}

.resume-section h2, .print-resume-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
    margin: 0 0 10px;
    color: #444;
    text-align: left;
    border-bottom: 2px solid #FFA500;
    padding: 0 0 5px;
}

.resume-section p, .print-resume-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.resume-section ul, .print-resume-section ul {
    padding-left: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 1rem;
}

.resume-section li {
    line-height: 1.6;
}

/* Project Styling */
.resume-project-item, .print-resume-project-item {
    padding: 0;
    margin: 0 0 20px 0;
}

/* PDF Buttons */
.pdf-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: fit-content;
    gap: 10px;
}

.pdf-buttons a{
    text-decoration: none;
}

.print-button {
    display: block;
    background: var(--accent-color);
    min-width: 100px;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}

.print-button:hover {
    background: var(--accent-hover);
}

.print-version{
    display: none;
}

/* Print Styling */
@media print {
    body {
        background-color: white;
    }

    .resume-container, .print-version {
        max-width: 100%;
        padding: 40px;
        border: none;
        box-shadow: none;
    }

    .resume-columns, .print-resume-columns {
        display: flex;
        flex-direction: row;
    }

    .left-column, .right-column, .print-left-column, .print-right-column {
        flex: 1;
        padding: 5px;
    }

    .resume-header, .print-resume-header {
        margin-bottom: 20px;
    }

    .resume-section h2, .print-resume-section h2 {
        margin-bottom: 5px;
    }

    .resume-section ul, .print-resume-section ul {
        margin: 0;
        padding: 0 0 0 15px;
    }

    .resume-section li, .print-resume-section li {
        margin-bottom: 3px;
    }

    .print-button {
        display: none;
    }

    @page {
        size: letter;
        margin: 0.5in;
    }
}

/* Font Size Adjustments for Print Version Only */
.print-version h1 {
    font-size: 48px;
    margin-top: 0;
}

.print-version h2 {
    font-size: 16px;
}

.print-version h3 {
    font-size: 14px;
}

.print-version p, .print-version li {
    font-size: 12px;
}

.print-resume-columns{
    gap: 50px;
    margin: 0 30px;
}

.print-left-column, .print-right-column{
    padding: 0px;
}

.print-resume-section p {
    line-height: 1.3;
}

.print-resume-section li {
    line-height: 1.3;
}

@media(max-width: 768px){
    .resume-container{
        margin: 0;
        padding: 20px;
        box-shadow: none;
        border-radius: 0;
        height: 100%;
    }
    .resume-columns{
        flex-direction: column;
        margin: 0;
    }
    .left-column, .right-column{
        margin: 0;
        padding: 0;
    }
    .resume-summary{
        margin: 0;
        padding: 0 0 20px;
        width: 90vw;
    }
}