/* ThemeToggle.css */
.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1100;
  }
  
  .toggle-icon {
    padding: 10px;
    margin-right: 50px;
  }

  @media(max-width: 768px) {
    .toggle-icon {
      margin: 0;
    }
  }
  