/* ThemeToggle.css */
.theme-toggle {
    position: fixed;
    top: .25rem;
    right: 0;
    cursor: pointer;
    z-index: 1100;
  }
  
  .toggle-icon {
    margin-right: 50px;
  }

  @media(max-width: 768px) {
    .theme-toggle{
      top: 2rem;
    }
    .toggle-icon {
      margin: 0;
    }
  }
  