body {
  height: 100%;
  margin: 0;
  overflow-y: scroll; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  width: 8px;
  border-radius: 8px;
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  max-height: fit-content; 
  text-align: center;
  padding: 20px 100px;
  min-height: 80vh;
}

h1, h3 {
  font-family: 'Playfair Display', serif;
}

h2 {
  padding-top: 75px;
}

@media(max-width: 768px){
  section {
    padding: 0 25px;
  }
}