body {
  height: 100%;
  margin: 0;
  overflow-y: scroll; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  width: 8px;
  border-radius: 8px;
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh; 
  text-align: center;
}

h2 {
  padding-top: 75px;
}

